.header {
  position: relative;
  border-bottom: 1px solid #ececec;
}
.header__navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 60px;
  @media screen and (min-width: 1200px) {
  }
}
.header__logo {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--header-color);
}
.header__logo-color {
  color: #000000;
}
.header__menu-open {
  display: inline-flex;
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
  &:hover,
  &:focus {
    fill: #2196f3;
    cursor: pointer;
  }

  @media screen and (min-width: 768px) {
    display: none;
  }
}

.navigation__container-wrap {
  display: none;
  @media screen and (min-width: 768px) {
    display: flex;
    align-items: center;
  }
}
.navigation__list {
  display: flex;
  align-items: center;
  margin-right: 84px;
  @media screen and (min-width: 1200px) {
    margin-right: 305px;
  }
}
.navigation__item:not(:last-child) {
  margin-right: 30px;
}

.navigation-contacts__list {
  align-items: center;
  @media screen and (min-width: 1200px) {
    display: flex;
    align-items: center;
  }
}
.navigation__link {
  padding: 32px 0px;

  position: relative;

  display: block;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #212121;

  transition: color var(--time-transition);

  &:hover,
  &:focus {
    color: var(--header-color);
  }
}

.current {
  color: var(--header-color);
}
.current::after {
  content: "";

  position: absolute;
  left: 0;
  bottom: -1px;

  display: block;
  width: 100%;
  height: 4px;
  background: #2196f3;
  border-radius: 2px;
}
.navigation-contacts__link-mail {
  margin-bottom: 10px;
  @media screen and (min-width: 1200px) {
    margin-bottom: 0;
    margin-right: 30px;
  }
}
.navigation-contacts__link-mail,
.navigation-contacts__link-tel {
  display: flex;
  align-items: center;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #757575;
  &:hover,
  &:focus {
    color: var(--header-color);
  }
  transition: color var(--time-transition);
  @media screen and (min-width: 768px) {
    font-size: 12px;
    line-height: 1.17;
  }
  @media screen and (min-width: 1200px) {
    padding: 32px 0px;
  }
}
.navigation-contacts__icon-email {
  fill: currentColor;
  margin-right: 10px;
}
.navigation-contacts__icon-tel {
  fill: currentColor;
  margin-right: 10px;
  &:hover,
  &:focus {
    transition: var(--time-transition);
    color: var(--header-color);
  }
}
.navigation__mob-menu {
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #ffffff;
  width: 100vw;
  height: 100vh;
  transition: var(--time-transition);
  @media screen and (min-width: 768px) {
    display: none;
  }
}
.navigation__container-menu {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 480px;
  height: 100%;
  padding-top: 10px;
  padding-bottom: 48px;
  padding-left: 40px;
}
.navigation__btn-close {
  display: block;
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
  margin-left: auto;
  margin-bottom: 8px;
  margin-right: 15px;
  cursor: pointer;
  &:hover,
  &:focus {
    transition: var(--time-transition);
    fill: #2196f3;
  }
}
.navigation__link-menu {
  font-weight: 500;
  font-size: 40px;
  line-height: 1.18;
  letter-spacing: 0.02em;
  color: #212121;
}
.navigation__item-menu:not(:last-child) {
  margin-bottom: 32px;
}
.navigation-contacts__item-menu-tel {
  margin-bottom: 32px;
}
.navigation-contacts__item-menu-email {
  margin-bottom: 64px;
}
.navigation-contacts__link-tel-menu {
  font-weight: 500;
  font-size: 34px;
  line-height: 1.18;
  letter-spacing: 0.02em;
  color: #2196f3;
}
.navigation-contacts__link-mail-menu {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: #757575;
}
.navigation-contacts__link-soc {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: #2196f3;
}
.navigation-contacts__list-soc {
  display: flex;
  flex-wrap: wrap;
}
.navigation-contacts__item-soc:not(:last-child)::after {
  content: "";
  width: 22px;
  height: 0;
  margin-left: 10px;
  margin-right: 10px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  transform: rotate(90deg);
}
.current-menu {
  color: var(--header-color);
}
